@import '../core/colors';
@import '../core/mixins';
@import '~bootstrap/scss/mixins/_breakpoints';

.article-content {
  padding: 6rem 0;
  @include container;
  position: relative;

  .container .component-content:after {
    @include clearfix;
  }

  .row {
    display: block;
  }

  .article-author {
    position: absolute;
    top: 0;
    left: 1.5rem;
    font-size: 1.4rem;

    img {
      border-radius: 100%;
      margin-bottom: 1rem;
    }

    span {
      display: block;
    }

    .article-author__name {
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  .article-content__col_narrow {
    display: none;

    @include media-breakpoint-up(xl) {
      display: block;
    }
  }

  .article-content__col_wide {
    @include media-breakpoint-up(xl) {
      width: 74rem;
    }
  }

  .article-main-title {
    text-align: left;
    font-weight: 700;
  }

  .field-published-date {
    font-style: italic;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .article-abstract {
    display: block;
    font-weight: 400 !important;
    font-size: 2rem;
    line-height: normal;
    color: #333;
    margin-bottom: 2rem;
  }

  .social-buttons {
    margin-bottom: 2.5rem;
    display: flex;
  }

  .social-block__label {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 1.2rem;
    line-height: normal;
    color: $white;
    text-transform: uppercase;
    background: $endeavour;
    padding: 0.5rem 1rem;
    border-radius: 0.6rem 0 0 0.6rem;
    height: 2.4rem;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 100%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 1.2rem;
      border-color: transparent transparent transparent $endeavour;
    }
  }

  .social-block__list {
    display: flex;
    list-style: none;
  }

  .social-block__item {
    margin-right: 0.5rem;

    a {
      background: $endeavour;
      font-size: 1.8rem;
    }
  }

  .social-block__link {
    @include socialButtons(3rem);
  }

  .social-block__link_facebook {
    @include facebookButton;
  }

  .social-block__link_linkedin {
    @include linkedInButton;
  }

  .social-block__link_twitter {
    @include twitterButton;
  }

  .social-block__link_email {
    @include emailButton;
  }

  .subscription-level__inner {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .subscription-level__icon-secondary_closed {
    @include socialButtons(2.2rem);
    background: $quill-gray;
    font-size: 1.6rem;

    &:before {
      content: '\f09a';
      color: $bunting;
    }
  }

  .subscription-level__icon {
    display: block;
    width: 2.2rem;
    height: 2.2rem;
  }

  .subscription-level__title {
    margin: 0 1rem;
    font-style: italic;
  }
}
