@import '../core/colors';
@import '../core/mixins';
@import '~bootstrap/scss/mixins/_breakpoints';

.custom-breadcrumb {
  background: $alabaster;
  padding: 1rem 0;

  .component-content:first-child {
    @include container;
  }

  .page-breadcrumbs__list {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
  }

  .page-breadcrumbs__item {
    display: inline-block;

    &:before {
      display: inline-block;
      font-weight: 700;
      content: '>';
      padding: 0 0.5rem;
    }

    &:first-child {
      font-size: 0;

      a:before {
        content: '\f015';
        font-family: 'FontAwesome';
        font-size: 1.8rem;
      }

      &:before {
        content: '';
      }
    }

    &:last-child a {
      font-weight: 400;
    }
  }

  a {
    color: $bunting;
    font-weight: 700;

    &:hover {
      text-decoration: none;
    }
  }
}
