@import '../core/colors';
@import '../core/mixins';
@import '~bootstrap/scss/mixins/_breakpoints';

.carousel {
  background: $wild-sand;
  margin-bottom: 4rem;
  padding-bottom: 4rem;
  position: relative;

  .component-content {
    @include container;
  }

  .wrapper {
    padding: 0 9rem;
  }

  .slides {
    list-style: none;
    margin: 0;
    padding: 0 5rem;
  }

  .rssb_slide {
    display: flex;
  }

  .slide_image {
    padding-right: 2rem;
  }

  .slide_text {
    padding: 0 1.5rem 1.5rem;
    color: #005eb8;
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
  }

  .field-slidelink {
    @include buttonTertiary;
    a {
      color: inherit;
    }
  }

  .prev-text,
  .next-text,
  .field-slidetext:before,
  .field-slidetext:after {
    font-family: 'FontAwesome';
    display: block;
    font-size: 3rem;
  }

  .field-slidetext:before {
    content: '\f10d';
  }

  .field-slidetext:after {
    content: '\f10e';
    text-align: right;
  }

  .nav {
    justify-content: center;
    margin-top: 7rem;
  }

  .nav-items {
    display: flex;
  }

  .sxa-numbers {
    background: $quill-gray;
    border: solid 0.1rem $fiord;
    font-size: 0;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100%;
    margin-right: 1rem;

    &.active {
      background: $denim;
    }
  }

  .prev-text:before,
  .next-text:before {
    position: absolute;
    top: 40%;
    color: $grey;
  }

  .prev-text:before {
    content: '\f053';
    left: 0;
  }

  .next-text:before {
    content: '\f054';
    right: 0;
  }
}
