@import '../core/colors';
@import '../core/mixins';
@import '~bootstrap/scss/mixins/_breakpoints';

.column-splitter {
  @include container;
  padding: 4rem 0;

  img {
    @include responsiveImage;
  }

  h2 {
    text-align: left;
  }
}
