@import '../core/colors';
@import '../core/mixins';
@import '~bootstrap/scss/mixins/_breakpoints';

.custom-link-list {
  padding: 6rem 0;
  @include container;

  .in-page-navigation__inner {
    background: $wild-sand;
    padding: 2.5rem;

    @include media-breakpoint-up(xl) {
      overflow: hidden;
    }
  }

  .in-page-navigation__title {
    font-weight: 400;
    font-size: 3rem;
    line-height: normal;
    text-align: center;
    display: block;
    color: $bunting;
    margin-bottom: 3rem;

    @include media-breakpoint-up(xl) {
      width: 22rem;
      font-size: 3.2rem;
      text-align: left;
      margin: 0 2.8rem 0 0;
      float: left;
    }
  }

  .in-page-navigation__box {
    @include media-breakpoint-up(xl) {
      width: calc(100% - 25rem);
      float: left;
    }
  }

  .in-page-navigation__box-list {
    list-style: none;
    padding: 0;

    a {
      color: $endeavour;
      display: block;
      font-size: 1.8rem;
      line-height: normal;
      color: #005eb8;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding: 1rem 2.5rem 1rem 1rem;
      overflow: hidden;
      transition: background 0.3s ease;
      position: relative;

      &:after {
        @include rightChevron;
        position: absolute;
        top: 1.5rem;
        right: 1rem;
      }

      &:hover {
        text-decoration: none;
        background: $alto;
      }
    }

    &:after {
      @include clearfix;
    }
  }

  .in-page-navigation__box-link {
    border: solid $alto;
    border-width: 0.1rem 0;
  }

  .in-page-navigation__box-item {
    margin-top: -0.1rem;
    padding: 0 1rem;

    @include media-breakpoint-up(lg) {
      float: left;
      width: 50%;
    }
  }
}
