@import '../core/colors';
@import '../core/mixins';

$social-media-icon-size: 4.5rem;

footer {
  background: $bunting;
  color: $white;
  padding: 5rem 0 4rem 0;

  a {
    color: $white;

    &:hover {
      color: $white;
      text-decoration: none;
    }
  }

  dl {
    margin-bottom: 3.5rem;

    dt {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  }

  p {
    max-width: 60rem;
    text-align: center;
    margin: 0 auto;
  }

  .footer__social-media-list dd {
    display: inline-flex;
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }

    a {
      background: $white;
      border-radius: $social-media-icon-size;
      color: $bunting;
      display: flex;
      font-size: 2.8rem;
      height: $social-media-icon-size;
      width: $social-media-icon-size;

      &:hover {
        color: $endeavour;
      }
    }
    .fa {
      display: inline-flex;
      flex-grow: 1;
      @include alignCenter;
    }
  }
}
