@import '../core/colors';
@import '../core/mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/_breakpoints';

$header-filter-btn-width: 7rem;
$header-nav-list-item-width: 30rem;

header {
  padding-top: 1rem;
  background: $bunting;

  .header__logo {
    max-width: 15.5rem;
    @include responsiveImage();
  }

  .header__user-link {
    color: $alto;
    padding: 0;

    @include media-breakpoint-up(lg) {
      margin-right: 4rem;
    }

    &:hover {
      color: $alto;
      text-decoration: none;
    }

    .fa {
      padding-right: 1rem;
    }
  }

  @include media-breakpoint-up(lg) {
    padding-top: 2rem;
  }

  .header__menu-button {
    margin-right: 1rem;
    transition: all 0.3s ease;
    width: 8.6rem;
    flex-shrink: 0;
    border-color: $white;
    color: $white;
    @include buttonBase;

    &:hover {
      background: $white;
      color: $bunting;
    }

    &:after {
      content: '';
      padding: 0;
    }
  }

  .header__search-form {
    display: flex;
    height: $header-btn-height;

    @include media-breakpoint-up(md) {
      position: relative;
    }
  }

  .header__search-filter {
    @include buttonBase;
    background: $endeavour;
    border-color: transparent;
    color: $white;
    flex-shrink: 0;
    height: $header-btn-height - 0.4rem;
    left: 0.2rem;
    position: absolute;
    top: 0.2rem;
    width: $header-filter-btn-width;
    display: none;

    &:after {
      content: '';
      padding: 0;
    }

    @include media-breakpoint-up(md) {
      display: flex;
    }

    .fa {
      padding-left: 0.5rem;
    }
  }

  .header__search-filter-dropdown {
    display: none;
    position: absolute;
    z-index: 1;
    top: 5.5rem;
    background-color: #005eb8;
    border-radius: 0.6rem;

    @include media-breakpoint-down(sm) {
      left: 15px;
    }

    @include media-breakpoint-up(md) {
      left: 0;
    }

    .header__search-filter-dropdown-list {
      list-style: none;
      color: $white;
      margin: 0;
      padding: 0;
    }

    .header__search-filter-dropdown-item {
      font-size: 1.8rem;
      line-height: 1.8rem;
      padding: 1rem 2rem 1rem;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .search-box,
  .search-box .component-content {
    display: flex;
    flex-grow: 1;
  }

  .search-box-input {
    font-size: 1.8rem;
    border: none;
    border-radius: 2.2rem;
    outline: none;
    padding: 1rem 5rem 1rem 8rem;

    @include media-breakpoint-up(md) {
      min-width: 36rem;
    }
  }

  .search-box-button {
    @include buttonBase;
    background: $genoa;
    border-color: transparent;
    color: $white;
    flex-shrink: 0;
    height: $header-btn-height;
    right: 0.2rem;
    top: 0.2rem;
    width: $header-btn-width;
    position: relative;
    z-index: 0;
    padding: 0;

    &:after {
      content: '';
      padding: 0;
    }

    @include media-breakpoint-up(md) {
      position: absolute;
      height: $header-btn-height - 0.4rem;
      width: $header-btn-width - 0.4rem;
    }

    span:first-child {
      @include visuallyHidden;
    }
  }

  .header__search-results {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    background: $white;
    border: 0.1rem solid $alto;
    position: absolute;
    top: $header-btn-height;
    left: $header-filter-btn-width;
    right: $header-btn-width;
    z-index: 2;
  }

  .header__search-results-item a {
    color: $bunting;
    font-size: 1.4rem;
    padding: 0.5rem 0.8rem;
    display: block;
  }

  .header__nav-bg {
    margin-top: 1.5rem;

    @include media-breakpoint-down(md) {
      display: none;
    }

    @include media-breakpoint-up(lg) {
      background: $fiord;
    }
  }

  nav,
  .header__navigation-list,
  .header__navigation-secondary-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav a,
  nav a:hover {
    color: $alto;
    text-decoration: none;
  }

  nav a {
    padding: 1.3rem 1.5rem;
    flex-grow: 1;

    @include media-breakpoint-up(lg) {
      padding: 0.5rem 1.5rem;
    }
  }

  .header__navigation-list {
    background: $fiord;
    font-size: 1.8rem;
    position: relative;

    @include media-breakpoint-up(lg) {
      display: flex;
      flex-grow: 1;
      text-align: center;
      background: none;

      a {
        font-size: 1.4rem;
        padding: 1.5rem;
      }
    }
  }

  .header__navigation-list-title {
    border-top: solid 0.3rem $bunting;
    display: block;

    @include media-breakpoint-down(md) {
      a:first-child {
        color: $white;
      }
    }

    @include media-breakpoint-up(lg) {
      &:hover {
        background: $white;
        color: $bunting;
      }

      &:hover .header__navigation-item-wrapper:first-child a {
        color: $bunting;
      }
    }

    @include media-breakpoint-down(xl) {
      .header__navigation-item-wrapper {
        display: flex;
        justify-content: space-between;
      }
    }

    @include media-breakpoint-up(lg) {
      display: flex;
    }

    &:first-child {
      border-top: 0;
    }

    .fa {
      color: $white;
      font-size: 2.8rem;
      align-self: center;
      padding: 0 1.5rem;

      @include media-breakpoint-up(lg) {
        padding: 1.5rem;
      }
    }

    @include media-breakpoint-up(lg) {
      display: flex;
      flex-grow: 1;
      border-top: none;
      border-left: solid 0.2rem $bunting;
      justify-content: center;

      &:first-child {
        border-left: 0;
      }

      .fa {
        display: none;
      }
    }

    @include media-breakpoint-up(lg) {
      &.hasChildren:hover {
        .header__navigation-secondary-list {
          display: block;
        }
      }
    }
  }

  .header__navigation-secondary-list {
    background: $white;
    text-align: left;
    width: 100%;
    border: 1px solid $alto;
    border-width: 0 0.1rem 0.1rem;
    padding: 0;

    @include media-breakpoint-down(md) {
      display: none;
    }

    @include media-breakpoint-up(lg) {
      padding: 1.5rem;
      display: none;
      position: absolute;
      top: 5.1rem;
      left: 0;
      z-index: 1;
      border-radius: 0 0 0.4rem 0.4rem;

      &:after {
        @include clearfix;
      }
    }

    .header__navigation-list-item {
      position: relative;

      @include media-breakpoint-up(lg) {
        width: $header-nav-list-item-width;
        padding-right: 2rem;

        &.hasChildren > .header__navigation-item-wrapper a:after {
          content: '>';
          float: right;
          position: absolute;
          right: 1rem;
          top: 0.5rem;
        }
      }
    }

    a {
      color: $bunting;
      display: block;
      position: relative;
      font-size: 1.6rem;
      font-weight: 700;
      padding: 0.5rem 2rem 0.5rem 0.9rem;

      &:hover {
        color: $bunting;
        background: $alto;
        text-decoration: underline;
      }
    }

    @include media-breakpoint-down(md) {
      .header__navigation-list-item a {
        color: $grey;
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        &:hover {
          color: $alto;
          background: none;
          text-decoration: none;
        }

        &:after {
          content: '>';
          padding-left: 10px;
        }
      }

      .header__navigation-item-wrapper:hover {
        background: $comet;

        .fa {
          color: $white;
        }
      }

      .fa {
        color: $fiord;
        font-size: 2rem;
      }
    }
  }

  .header__navigation-tertiary-list {
    list-style: none;
    margin: 0;
    padding: 0;
    background: $white;

    @include media-breakpoint-down(md) {
      background: $gallery;
      display: none;

      .header__navigation-item-wrapper {
        padding-left: 2rem;
      }
    }

    @include media-breakpoint-up(lg) {
      display: none;
      position: absolute;
      top: 0;
      left: $header-nav-list-item-width;
      padding-left: 2rem;
      padding-bottom: 2rem;
      border-left: solid 1px $alto;

      .header__navigation-list-item {
        min-width: 55rem;
      }
    }
  }

  .header__bottom-row {
    background: $fiord;
    padding: 1.5rem 0;

    @include media-breakpoint-down(md) {
      margin-top: 1.5rem;
    }

    .header__user-link {
      margin-left: 4rem;
    }
  }
}
