@import '../core/colors';
@import '../core/mixins';
@import '~bootstrap/scss/mixins/_breakpoints';

.hero-panel {
  padding-left: 0;
  padding-right: 0;
  min-height: 40rem;

  .component-content {
    min-height: 40rem;

    > div:first-child {
      align-items: center;
      background-size: cover;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      min-height: 40rem;
    }
  }

  & > div > div {
    align-items: center;
    background-size: cover;
    display: flex;
    height: 100%;
  }

  .field-heading-text {
    margin-top: 4rem;
  }

  .hero-panel__inner {
    @include container;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5rem 1.5rem;

    @include media-breakpoint-up(lg) {
      padding-left: 22rem;
      padding-right: 22rem;
    }
  }

  .hero-panel__title {
    font-size: 4.6rem;
    line-height: normal;
    color: $white;
  }

  .hero-panel__socials-list-item a {
    @include socialButtons;
    margin-right: 2rem;
  }

  .hero-panel__socials-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-panel__socials-list-item_facebook {
    @include facebookButton;
  }

  .hero-panel__socials-list-item_linkedin {
    @include linkedInButton;
  }

  .hero-panel__socials-list-item_twitter {
    @include twitterButton;
  }

  .hero-panel__socials-list-item_email {
    @include emailButton;
  }

  .hero-panel__text-box {
    background: $white;
    padding: 4rem 5rem;
    text-align: left;
    position: relative;
    border-top: solid 0.5rem $flush-orange;

    @include media-breakpoint-up(lg) {
      width: 85%;
      margin-left: -8rem;
    }
  }

  .hero-panel__text-box-heading {
    background: $flush-orange;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem 2rem;
    font-weight: bold;
    font-size: 1.6rem;
  }

  .hero-panel__text-box-title {
    display: block;
    font-weight: 400;
    font-size: 2.6rem;
    color: $bunting;
    margin: 3rem 0 1rem;
  }

  .hero-panel__text-box-link-holder a {
    @include buttonPrimary;
    margin-top: 5rem;
  }

  .main-banner__subscribe-link-holder a {
    @include buttonAlternative;
    margin: 2rem 0 3rem;
  }

  .hero-panel__byline {
    color: $white;
    padding-bottom: 2.5rem;
    font-size: 1.8rem;
  }

  .hero-panel__title,
  .hero-panel__byline {
    text-shadow: 0.2rem 0.2rem 0.2rem $black;
  }
}
