@import '../core/colors';
@import '../core/mixins';
@import '~bootstrap/scss/mixins/_breakpoints';

.custom-side-paddings,
.in-page-navigation {
  @include container;
  border-bottom: 0.2rem solid $quill-gray;

  .anchor-panel__list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .anchor-panel__item {
    padding: 1.5rem 3rem;

    a {
      padding: 0;
      display: block;
      color: $bunting;
      border-bottom: solid 0.3rem transparent;

      &:hover {
        border-bottom-color: $bunting;
        text-decoration: none;
        font-weight: bold;
      }
    }
  }
}
