@import '../core/colors';
@import '../core/mixins';
@import '~bootstrap/scss/mixins/_breakpoints';

.link-panel {
  overflow: hidden;
}

.link-panel__title {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  color: $bunting;
  margin-bottom: 2rem;

  &:after {
    content: '';
    position: absolute;
    top: 2.4rem;
    left: 100%;
    width: 99rem;
    height: 0.2rem;
    background: $bunting;
    margin-left: 3rem;
  }
}

.link-panel__inner {
  margin: 0;
  padding: 0;
  list-style: none;

  @include media-breakpoint-up(md) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.link-panel__item a {
  display: block;
  position: relative;
  font-size: 1.8rem;
  color: $blue-lagoon;
  text-decoration: none;
  padding: 0 2.5rem 0 0;
  position: relative;

  &:after {
    @include rightChevron;
    position: absolute;
    right: 0;
    top: 0.3rem;
  }
}

.link-panel__item {
  margin-bottom: 3.5rem;

  @include media-breakpoint-up(md) {
    width: 45%;
  }

  @include media-breakpoint-up(lg) {
    width: 30%;
  }
}
