@import '../core/colors';
@import '../core/mixins';
@import '~bootstrap/scss/mixins/_breakpoints';

.main-banner {
  color: $white;
  background-size: cover;
  position: relative;
  min-height: 50rem;

  &:before,
  &:after {
    content: '';
    left: 0;
    position: absolute;
    width: 1.5rem;
    z-index: 1;

    @include media-breakpoint-up(xl) {
      width: 3rem;
    }
  }

  &:before {
    background-color: $green-haze;
    border-bottom: 0.2rem solid $white;
    border-right: 0.2rem solid $white;
    height: 60%;
    top: 0;
  }

  &:after {
    background-color: #00a5df;
    border-right: 0.2rem solid $white;
    bottom: 0;
    height: 40%;
  }

  .row:first-child {
    @include container;
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    display: flex;
  }

  .main-banner__inner {
    padding: 3rem 0;

    @include media-breakpoint-up(lg) {
      max-width: 50%;
    }
  }

  .main-banner__description {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: normal;

    @include media-breakpoint-up(lg) {
      font-size: 4.6rem;
    }
  }

  .main-banner__description,
  .field-promolink,
  .field-promolink2 {
    margin-bottom: 3rem;
  }

  .field-promolink a {
    color: $white;
    font-size: 1.8rem;

    &:after {
      @include rightChevron;
    }
  }

  .field-promolink2 a {
    @include buttonAlternative;
  }

  .main-banner__socials-list,
  .main-banner__socials-list-item {
    display: flex;
  }

  .main-banner__socials-list-item {
    margin-right: 2rem;
  }

  .main-banner__socials-list-item_facebook,
  .main-banner__socials-list-item_linkedin,
  .main-banner__socials-list-item_twitter,
  .main-banner__socials-list-item_youtube {
    @include socialButtons;
  }

  .main-banner__socials-list-item_facebook {
    @include facebookButton;
  }

  .main-banner__socials-list-item_linkedin {
    @include linkedInButton;
  }

  .main-banner__socials-list-item_twitter {
    @include twitterButton;
  }

  .main-banner__socials-list-item_youtube {
    @include youTubeButton;
  }
}
