@import '../core/colors';
@import '../core/mixins';
@import '~bootstrap/scss/mixins/_breakpoints';

.membership-promo {
  @include container;
  margin-bottom: 4rem;

  @include media-breakpoint-up(xl) {
    max-width: 74rem;
  }

  .notification-box__title {
    display: block;
    font-weight: bold;
    font-size: 2.6rem;
    line-height: normal;
    color: $bunting;
    margin-bottom: 2rem;
  }

  .notification-box__twocolumn-row {
    @include media-breakpoint-up(lg) {
      display: flex;
    }
  }

  .notification-box__column {
    border: solid 0.4rem $alto;
    padding: 4rem 2rem 2rem;
    margin: 0 0 1rem 0;
    position: relative;

    @include media-breakpoint-up(lg) {
      width: 50%;
      margin-left: 1rem;

      &:first-child {
        margin-left: 0;
      }
    }

    .row {
      margin: 0 !important;
      display: block !important;
    }
  }

  .register-box__title,
  .login-box__title {
    display: block;
    font-weight: 400;
    font-size: 2.2rem;
    color: $black;
    margin-bottom: 1.4rem;
  }

  .register-box__inner,
  .login-box__inner {
    width: 100%;
  }

  .register-box__list {
    margin: 0;
    padding: 0 0 2rem 2rem;
  }

  .register-link-component,
  .login-link-component {
    display: flex;
    justify-content: center;

    a,
    .btn {
      @include buttonPrimary;
      padding: 0 2rem;

      span {
        display: none;
      }
    }
  }

  .register-box__heading:before,
  .login-box__heading:before {
    content: '';
    position: absolute;
    top: -0.4rem;
    right: -0.4rem;
    left: -0.4rem;
    height: 0.8rem;
  }

  .login-box__heading:before {
    background-color: $green-haze;
  }

  .register-box__heading:before {
    background-color: $bunting;
  }

  .login-box__icon,
  .register-box__icon {
    position: absolute;
    top: -0.4rem;
    left: -0.4rem;
    width: 9.9rem;
    height: 3.5rem;
    background-size: cover;
  }

  .login-box__icon {
    background-image: url('https://www.rssb.co.uk/-/media/Themes/RSSB/Platform/RSSB/images/icons/login-box-icon.png');
  }

  .register-box__icon {
    background-image: url('https://www.rssb.co.uk/-/media/Themes/RSSB/Platform/RSSB/images/icons/register-box-icon.png');
  }

  .help-box {
    background: $concrete;
    padding: 2rem;
    border: solid 0.4rem $alto;
    overflow: hidden;
  }

  .help-box__title {
    display: block;
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .help-box__link-text + div {
    display: inline;
  }

  .help-box__link-holder {
    font-weight: bold;
  }

  .help-box__rich-text {
    margin-bottom: 1rem;
  }

  .help-box__icon {
    width: 73px;
    height: 70px;
    background-image: url('https://www.rssb.co.uk/-/media/Themes/RSSB/Platform/RSSB/images/icons/help-box-icon.png');
    background-size: cover;
  }

  .help-box__left-col {
    float: left;
    width: 7.3rem;
    margin: 0 2rem 0 0;
  }

  .help-box__right-col {
    float: left;
    width: calc(100% - 9.3rem);
  }
}
