@import '../core/colors';
@import '../core/mixins';
@import '~bootstrap/scss/mixins/_breakpoints';

.news-list {
  padding: 4rem 0;
  display: flex;
  flex-wrap: wrap;

  .news-list__item {
    background: $white;
    padding: 3rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(lg) {
      width: calc(50% - 2rem);

      &:nth-child(odd) {
        margin-right: 2rem;
      }
    }
  }

  .news-list__link-holder {
    justify-self: flex-end;

    a {
      @include buttonPrimary;
    }
  }

  .news-list__text {
    margin-bottom: 7rem;
    flex-grow: 1;
  }

  .news-list__heading {
    display: block;
    font-weight: 400;
    font-size: 2.2rem;
    color: $bunting;
    margin-bottom: 1.5rem;
  }
}
