@import '../core/colors';
@import '../core/mixins';
@import '~bootstrap/scss/mixins/_breakpoints';

.node-section {
  .component-content {
    @include container;
    padding: 5rem 0;
    display: flex;
  }

  h2 {
    text-align: left;
    margin-bottom: 1.5rem;
  }

  .node_section_content {
    flex: 0 0 50%;
    padding-right: 1.5rem;
    font-size: 1.8rem;
  }

  .node_section_links {
    display: flex;
    flex-direction: column;
    justify-content: center;

    a {
      &:after {
        @include rightChevron;
      }
    }
  }
}
