@import '../core/colors';
@import '../core/mixins';

.padlock-section-holder {
  display: flex;
  background: $black;
  position: relative;

  .row:first-child {
    text-align: center;
    margin: 0 auto;
    color: $white;
    padding: 1rem 0 2rem 0;
    flex-grow: 1;
    max-width: 39rem;
    justify-content: center;
  }

  .padlock-section__icon {
    &:after {
      @include padlockIcon;
      color: $white;
      font-size: 4.4rem;
    }
  }

  .padlock-section__close-button-holder {
    position: absolute;
    top: 1rem;
    right: 0;
    z-index: 1;
    cursor: pointer;
    width: auto;

    &:after {
      content: '\f00d';
      font-family: 'FontAwesome';
      color: $white;
    }
  }

  .padlock-section__button-primary,
  .padlock-section__secondary {
    a {
      color: $white;
    }
    .fa {
      display: none;
    }
    button {
      color: inherit;
    }
  }

  .padlock-section__button-primary {
    @include buttonPrimary;
  }

  .padlock-section__secondary {
    margin-left: 2rem;
    @include buttonSecondary;
  }
}
