@import '../core/colors';
@import '../core/mixins';
@import '~bootstrap/scss/mixins/_breakpoints';

.page-size {
  @include container;
  padding-bottom: 2rem;

  .component-content {
    display: flex;
    justify-content: flex-end;
  }

  select {
    margin-left: 1.5rem;
  }
}
