@import '../core/colors';
@import '../core/mixins';
@import '~bootstrap/scss/mixins/_breakpoints';

.page-selector {
  @include container;
  margin-bottom: 3rem;
}

.page-selector-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;

  a {
    text-decoration: none;
    color: $bunting;
    @include paginationItem;

    &:hover,
    &.active {
      background: $denim;
      color: $white;
    }
  }

  .inactive,
  .inactive:hover {
    a {
      background-color: $gallery;
      color: $grey;
    }
  }

  .page-selector-item-first,
  .page-selector-item-last {
    display: none;
  }

  .page-selector-item-previous a {
    font-size: 0;

    &:before {
      content: '\f053';
      font-family: 'FontAwesome';
      font-size: 1.6rem;
    }
  }

  .page-selector-item-next a {
    font-size: 0;

    &:before {
      content: '\f054';
      font-family: 'FontAwesome';
      font-size: 1.6rem;
    }
  }
}
