@import '../core/colors';
@import '../core/mixins';
@import '~bootstrap/scss/mixins/_breakpoints';

.publications-section__pagination {
  list-style: none;
  margin: 2rem 0;
  padding: 0;
  float: right;
}

.publications-section__pagination-item {
  @include paginationItem;

  a {
    color: $bunting;
    font-weight: bold;

    &:hover {
      text-decoration: none;
    }
  }
}

.publications-section__pagination-item_active {
  background: $denim;

  a {
    color: $white;
  }
}

.publications-section__pagination-item_disabled a {
  color: $grey;
}

.publications-section__pagination-item_prev,
.publications-section__pagination-item_next {
  width: 5rem;
}
