@import '../core/colors';
@import '../core/mixins';
@import '~bootstrap/scss/mixins/_breakpoints';

.Partofcommunity {
  .component-content {
    @include container;
  }

  h2 {
    text-align: left;
  }

  .business-details {
    flex: 0 0 100%;
    min-width: 100%;

    @include media-breakpoint-up(sm) {
      flex: 0 0 33.33%;
      min-width: 33.33%;
    }
  }

  .part-of-community {
    @include media-breakpoint-up(sm) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .intro-title {
    min-width: 100%;
  }

  .companies,
  .members {
    color: $white;
    font-size: 2.6rem;
    padding: 3rem 1.5rem 0.5rem;
    min-height: 50%;
  }

  .companies {
    background-color: $denim;
  }

  .members {
    background-color: $bunting;
  }

  .further-links {
    width: 100%;
  }

  .company-list {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    min-width: 100%;
    padding-top: 1.5rem;

    @include media-breakpoint-up(sm) {
      flex: 0 0 66.66%;
      min-width: 66.66%;
      padding-top: 0;
    }
  }

  .company {
    padding: 0 1.5rem;
    margin-bottom: 3rem;
    flex: 0 0 50%;
    min-width: 50%;

    @include media-breakpoint-up(sm) {
      flex: 0 0 33.33%;
      min-width: 33.33%;
    }
  }

  img {
    width: 100%;
  }

  .further-links {
    text-align: right;
    margin-top: 3rem;
    border-top: solid 0.1rem $wild-sand;
    padding-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    a {
      margin-left: 2rem;
    }
  }

  .download-charter a {
    @include buttonTertiary;
  }

  .full-list-link a {
    @include buttonPrimary;
  }
}
