@import '../core/colors';
@import '../core/mixins';
@import '~bootstrap/scss/mixins/_breakpoints';

.person-hero-block {
  padding: 7rem 0;
  position: relative;
  color: $white;
  min-height: 34rem;
  background: $blue-lagoon;
  @include media-breakpoint-up(lg) {
    background: linear-gradient(
      to right,
      $blue-lagoon 0%,
      $blue-lagoon 50%,
      $wild-sand 50%,
      $wild-sand 50%,
      $wild-sand 100%
    );
  }

  .person-hero__inner {
    @include container;
    @include media-breakpoint-up(lg) {
      display: flex;
      justify-content: space-between;
    }

    &:before {
      @include media-breakpoint-up(lg) {
        position: absolute;
        top: 0;
        bottom: 0;
        content: '';
        left: 50%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 17rem 0 17rem 3rem;
        border-color: transparent transparent transparent $blue-lagoon;
        margin-left: -0.1rem;
      }
    }
  }

  .person-hero__left-col-title,
  .person-hero__right-col-name {
    display: block;
    font-weight: 400;
    font-size: 2.6rem;
    margin-bottom: 1.5rem;
  }

  .person-hero__right-col-name {
    @include media-breakpoint-up(lg) {
      color: $bunting;
    }
  }

  a {
    color: $white;

    @include media-breakpoint-up(lg) {
      color: $blue-lagoon;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .person-hero__right-col-image-holder {
    width: 18rem;
    height: 18rem;

    img {
      display: block;
      height: 100%;
      width: auto;
      border-radius: 100%;
    }
  }

  .person-hero__right-col {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-top: 6rem;

    @include media-breakpoint-up(lg) {
      margin-top: 0;
    }
  }

  .person-hero__link-holder,
  .person-hero__right-col-contacts {
    @include media-breakpoint-up(lg) {
      color: $bunting;
    }
  }

  .person-hero__right-col-content {
    padding-right: 4rem;
  }
}
