@import '../core/colors';
@import '../core/mixins';
@import '~bootstrap/scss/mixins/_breakpoints';

.privacy-warning {
  z-index: 1000;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 2rem 4rem;
  background: $aqua-deep;
  color: $white;
  display: flex;
  flex-direction: column;
  text-align: center;

  @include media-breakpoint-up(md) {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .close {
    display: none;
  }

  .submit {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    color: $black;
    align-items: center;

    @include media-breakpoint-up(md) {
      margin-top: 0;
    }

    a {
      background: $gold;
      padding: 1.5rem 2rem;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background: $broom;
      }
    }
  }
}
