@import '../core/colors';
@import '../core/mixins';
@import '~bootstrap/scss/mixins/_breakpoints';

.product-list__inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.product-list__item {
  padding: 1rem 0;

  @include media-breakpoint-up(md) {
    width: 50%;
  }
}

.product-list__item-inner {
  border: solid 0.2rem $mountain-meadow;
  height: 100%;
  margin: 0 1rem;
  background: $white;
}

.product-list__item-link a {
  color: $white;
  font-size: 2.6rem;
  text-overflow: ellipsis;
  padding: 1.5rem;
  background: $mountain-meadow;
  display: block;

  &:after {
    @include rightChevron;
    float: right;
  }

  &:hover {
    text-decoration: none;
  }
}

.product-list__item-text {
  flex-grow: 1;
  padding: 1.5rem;
}
