@import '../core/colors';
@import '../core/mixins';
@import '~bootstrap/scss/mixins/_breakpoints';

$feature-list-item-xl-height: 24rem;

.feature-list {
  position: relative;
  padding-bottom: 8rem;
}

.feature-list__inner {
  margin-left: -1rem;
  margin-right: -1rem;

  @include media-breakpoint-down(lg) {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
  }

  @include media-breakpoint-up(xl) {
    overflow: hidden;
  }
}

.feature-list__item {
  position: relative;
  width: 100%;
  padding: 1rem;

  @include media-breakpoint-down(lg) {
    display: flex;
  }

  @include media-breakpoint-up(md) {
    width: 50%;
  }

  @include media-breakpoint-up(lg) {
    width: 33.33%;
  }

  @include media-breakpoint-up(xl) {
    width: 50%;
    float: left;
    height: $feature-list-item-xl-height;

    &:nth-child(6n),
    &:nth-child(6n + 1) {
      height: $feature-list-item-xl-height * 2;

      .feature-list__item-inner {
        flex-direction: column;
      }

      .feature-list__image-holder,
      .feature-list__link-holder {
        width: 100%;
      }

      .feature-list__link-holder {
        flex-grow: 1;
        align-items: flex-start;
      }
    }

    &:nth-child(6n-1) {
      clear: left;
    }

    &:nth-child(6n) {
      margin-top: -$feature-list-item-xl-height;
    }
  }

  &.feature-list__item_hidden {
    display: none;
  }
}

.feature-list__image-holder {
  @include media-breakpoint-up(xl) {
    width: 50%;
    overflow: hidden;
  }

  img {
    @include media-breakpoint-down(lg) {
      @include responsiveImage;
    }

    @include media-breakpoint-up(xl) {
      height: 100%;
    }
  }
}

.feature-list__item-type {
  position: absolute;
  z-index: 2;
  top: 1rem;
  left: 1rem;
  min-width: 7.6rem;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  color: #fff;
  padding: 0.6rem 1.2rem;
  background-color: $persian-green;
}

.feature-list__link {
  font-size: 2.6rem;
  color: #141b4d;
  text-decoration: none;
}

.feature-list__link-holder {
  background: $white;
  padding: 2rem;

  @include media-breakpoint-down(lg) {
    flex-grow: 1;
  }

  @include media-breakpoint-up(xl) {
    width: 50%;
    display: flex;
    align-items: center;
  }
}

.feature-list__item-inner {
  border-top: solid 0.5rem $persian-green;

  @include media-breakpoint-down(lg) {
    display: flex;
    flex-direction: column;
  }

  @include media-breakpoint-up(xl) {
    display: flex;
    height: 100%;
  }
}

.feature-list__more-button {
  @include buttonTertiary;
  position: absolute;
  left: 0;
  right: 0;
  margin: 2rem auto 0 auto;
  max-width: 16rem;

  &:after {
    content: '\f078';
  }
}
