@import '../core/colors';
@import '../core/mixins';
@import '~bootstrap/scss/mixins/_breakpoints';

.navigable-1 {
  max-width: 100%;

  .component-content {
    @include container;
  }

  .publications-section__box-item-inner {
    position: static;
    align-self: flex-end;
    justify-content: flex-end;
    padding-top: 1rem;
  }
}

.publications-section {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.publications-section__box-heading {
  font-size: 26px;
  color: $white;
  background-color: $denim;
  padding: 2rem;
}

.publications-section__box-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.publications-section__box-list_hidden {
  display: none;
}

.publications-section__box-item {
  list-style: none;
  border: solid $quill-gray 0.1rem;
  margin: -0.1rem 0 0;
  background: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  @include media-breakpoint-up(lg) {
    width: 49%;
  }

  a {
    color: $bunting;
    padding: 3rem 4rem 3rem 2rem;
    display: block;
    position: relative;

    &:hover {
      text-decoration: none;
    }

    &:after {
      @include rightChevron;
      position: absolute;
      top: 3rem;
      right: 1.5rem;
    }
  }
}
