@import '../core/colors';
@import '../core/mixins';
@import '~bootstrap/scss/mixins/_breakpoints';

.resources .component-content {
  @include container;
}

.resource-list {
  padding: 5rem 0;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.resource-list__inner {
  display: flex;
  flex-wrap: wrap;
}

.resource-list__inner {
  justify-content: space-between;
}

.resource-list__item {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;

  @include media-breakpoint-up(lg) {
    width: 49%;
  }
}

.resource-list__item-inner {
  position: relative;
  z-index: 1;
  background-color: $alabaster;
  padding: 3rem;
  overflow: hidden;
  display: flex;
}

.resource-list__item-content {
  position: relative;
  flex-grow: 1;
}

.resource-list__title {
  font-weight: 400;
  font-size: 2rem;
  text-align: left;
  color: $bunting;
  margin-bottom: 3rem;
}

.resource-list__image {
  margin-right: 4rem;
  max-width: 13rem;
}

.publications-section__box-item-inner {
  position: absolute;
  top: -2.5rem;
  right: -2rem;
  display: flex;
}

.resource-list__button a {
  @include buttonTertiary;
}

.publications-section__box-item-title {
  font-size: 1.3rem;
  padding: 0 1rem;
  position: relative;
  top: -0.2rem;
}

.publications-section__box-item-icon-secondary_closed,
.publications-section__box-item-icon {
  display: block;
  width: 2.2rem;
  height: 2.2rem;
}

.publications-section__box-item-icon-secondary_closed {
  background-image: url('https://www.rssb.co.uk/-/media/Themes/RSSB/Platform/RSSB/images/icons/padlock-closed-icon.png');
  background-size: cover;
}

.publications-section__box-item-icon-secondary_opened {
  width: 1.6rem;
  height: 1.9rem;
  background-image: url('https://www.rssb.co.uk/-/media/Themes/RSSB/Platform/RSSB/images/icons/padlock-opened-icon.png');
  background-size: cover;
  margin-left: 1.7rem;
}
