@import '../core/colors';
@import '../core/mixins';
@import '~bootstrap/scss/mixins/_breakpoints';

.topic-page-rich-text-section {
  padding: 6rem 0;
  @include container;
  text-align: center;

  * {
    max-width: 76rem;
    margin-left: auto;
    margin-right: auto;
  }
}
