@import '../core/colors';
@import '../core/mixins';
@import '~bootstrap/scss/mixins/_breakpoints';

.search-results {
  @include container;
  margin-bottom: 3rem;

  .search-result-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  h2 {
    text-align: left;
    margin: 0;
  }

  .search-results__item-result {
    padding: 2rem;
    border: solid 0.2rem $quill-gray;
    margin: -0.1rem 0 0;
    display: flex;
  }

  .search-results__item-result-image {
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
      width: 30%;
      padding-right: 2rem;

      img {
        width: 100%;
      }
    }
  }

  .search-results__item-result-content {
    width: 100%;

    @include media-breakpoint-up(lg) {
      width: 70%;
    }
  }

  .search-results__item-abstract {
    margin-bottom: 2rem;
  }

  .search-results__item-link {
    margin: 1rem 0;
  }

  .search-results__item-result .page_type {
    color: $white;
    background-color: $emperor;
    font-size: 1.4rem;
    display: inline-block;
    border-radius: 0.4rem;
    padding: 0.2rem 1rem;
    margin-bottom: 1rem;
  }
}
