@import '../core/colors';
@import '../core/mixins';
@import '~bootstrap/scss/mixins/_breakpoints';

.search-content {
  padding: 2rem 0;
  @include container;

  .search-results__filters {
    padding: 2rem 0;
    border-top: solid 0.2rem $quill-gray;
    border-bottom: solid 0.2rem $quill-gray;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .facet-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  input {
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    width: 100%;
  }

  @include media-breakpoint-up(lg) {
    .search-results__filters div[class*='col-']:not(:last-child) {
      border-right: solid 2px $quill-gray;
    }
  }

  .clear-filter {
    font-weight: bold;
    font-size: 2rem;
  }

  .facet-value {
    cursor: pointer;
  }
}
