@import '../core/colors';
@import '../core/mixins';
@import '~bootstrap/scss/mixins/_breakpoints';

.secondary-banner {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  color: $white;
  height: 35rem;
  background-size: cover;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
  }

  @include media-breakpoint-up(lg) {
    height: 40rem;
  }

  .row:first-child {
    @include container;
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    display: flex;
  }

  .component-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .secondary-banner__title {
    font-size: 3rem;
    margin-bottom: 2rem;
    display: block;
    font-weight: 400;

    @include media-breakpoint-up(lg) {
      font-size: 4rem;
    }
  }

  .secondary-banner__description {
    margin-bottom: 3rem;
    font-size: 1.8rem;
  }

  a {
    @include buttonSecondary;
  }

  .secondary-banner__content {
    max-width: 47rem;
    margin: 0 auto;

    @include media-breakpoint-up(lg) {
      max-width: 62rem;
    }
  }
}
