@import '../core/colors';
@import '../core/mixins';
@import '~bootstrap/scss/mixins/_breakpoints';

.services-list__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .services-list__item {
    background: $white;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    border: solid 0.2rem $quill-gray;

    @include media-breakpoint-up(md) {
      width: calc(49%);
    }

    @include media-breakpoint-up(lg) {
      width: calc(32%);
    }
  }

  .services-list__item-image-holder {
    overflow: hidden;

    img {
      max-width: 100%;
    }
  }

  .services-list__item-title {
    color: $bunting;
    padding: 2rem 0 0.8rem 2rem;
    margin-bottom: 0;
    font-size: 2.6rem;
  }

  .services-list__item-description {
    font-size: 1.5rem;
    padding: 0 2rem;
    margin-bottom: 3rem;
    flex-grow: 1;
  }

  .services-list__item-button {
    margin: 0 auto 2rem auto;

    a {
      @include buttonPrimary;
    }
  }
}
