@import '../core/colors';
@import '../core/mixins';
@import '~bootstrap/scss/mixins/_breakpoints';

.snippet {
  ol li {
    margin: 0 0 1.5rem 0;
    counter-increment: my-awesome-counter;
    position: relative;
    list-style: none;
    padding-top: 0.6rem;
    font-size: 1.6rem;
  }

  ol li:before {
    content: counter(my-awesome-counter);
    color: $white;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    --size: 30px;
    left: -webkit-calc(-1 * var(--size) - 1rem);
    left: calc(-1 * var(--size) - 1rem);
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    top: 0;
    background: $bunting;
    border-radius: 50%;
    text-align: center;
  }
}
