@import '../core/colors';
@import '../core/mixins';
@import '~bootstrap/scss/mixins/_breakpoints';

.topic-list {
  position: relative;
}

.topic-list__inner {
  margin-left: -1rem;
  margin-right: -1rem;
  display: flex;
  flex-wrap: wrap;
}

.topic-list__item-inner {
  display: flex;
  flex-direction: column;
}

.topic-list__item {
  position: relative;
  width: 50%;
  padding: 1rem;
  display: flex;

  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.topic-list__image-holder {
  img {
    @include responsiveImage;
  }
}

.topic-list__link-holder {
  font-size: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: $wild-sand;
  padding: 2rem;

  a {
    color: $bunting;
  }

  &:after {
    @include rightChevron;
    float: right;
  }
}
