$alto: #dedede;
$black: #000;
$bunting: #141b4d;
$cerulean: #00a5df;
$comet: #545877;
$eastern-blue: #2786b0;
$endeavour: #005eb8;
$fiord: #3c4065;
$gallery: #eee;
$genoa: #168371;
$green-haze: #00b140;
$grey: #888;
$malachite: #02d04c;
$mine-shaft: #333333;
$mountain-meadow: #14ab92;
$mountain-meadow: #17a854;
$persian-green: #01ab91;
$picton-blue: #38b7eb;
$pomegranate: #f03015;
$san-marino: #4e71a8;
$white: #fff;
$wild-sand: #f5f5f5;
$alabaster: #f8f8f8;
$denim: #185eb8;
$blue-lagoon: #006f80;
$quill-gray: #d8d8d7;
$concrete: #f2f2f2;
$emperor: #555;
$flush-orange: #ff7500;
$aqua-deep: #005844;
$broom: #FFF729;
$gold: #ffd100;
