@font-face {
  font-family: 'fs-albert';
  src: url('/../../../fonts/fs-albert/bold/fs-albert.eot');
  src: url('/../../../fonts/fs-albert/bold/fs-albert.eot?#iefix') format('embedded-opentype'),
    url('/../../../fonts/fs-albert/bold/fs-albert.woff2') format('woff2'),
    url('/../../../fonts/fs-albert/bold/fs-albert.woff') format('woff'),
    url('/../../../fonts/fs-albert/bold/fs-albert.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'fs-albert';
  src: url('/../../../fonts/fs-albert/bold-italic/fs-albert.eot');
  src: url('/../../../fonts/fs-albert/bold-italic/fs-albert.eot?#iefix') format('embedded-opentype'),
    url('/../../../fonts/fs-albert/bold-italic/fs-albert.woff2') format('woff2'),
    url('/../../../fonts/fs-albert/bold-italic/fs-albert.woff') format('woff'),
    url('/../../../fonts/fs-albert/bold-italic/fs-albert.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'fs-albert';
  src: url('/../../../fonts/fs-albert/extra-bold/fs-albert.eot');
  src: url('/../../../fonts/fs-albert/extra-bold/fs-albert.eot?#iefix') format('embedded-opentype'),
    url('/../../../fonts/fs-albert/extra-bold/fs-albert.woff2') format('woff2'),
    url('/../../../fonts/fs-albert/extra-bold/fs-albert.woff') format('woff'),
    url('/../../../fonts/fs-albert/extra-bold/fs-albert.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'fs-albert';
  src: url('/../../../fonts/fs-albert/italic/fs-albert.eot');
  src: url('/../../../fonts/fs-albert/italic/fs-albert.eot?#iefix') format('embedded-opentype'),
    url('/../../../fonts/fs-albert/italic/fs-albert.woff2') format('woff2'),
    url('/../../../fonts/fs-albert/italic/fs-albert.woff') format('woff'),
    url('/../../../fonts/fs-albert/italic/fs-albert.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'fs-albert';
  src: url('/../../../fonts/fs-albert/light/fs-albert.eot');
  src: url('/../../../fonts/fs-albert/light/fs-albert.eot?#iefix') format('embedded-opentype'),
    url('/../../../fonts/fs-albert/light/fs-albert.woff2') format('woff2'),
    url('/../../../fonts/fs-albert/light/fs-albert.woff') format('woff'),
    url('/../../../fonts/fs-albert/light/fs-albert.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'fs-albert';
  src: url('/../../../fonts/fs-albert/light-italic/fs-albert.eot');
  src: url('/../../../fonts/fs-albert/light-italic/fs-albert.eot?#iefix') format('embedded-opentype'),
    url('/../../../fonts/fs-albert/light-italic/fs-albert.woff2') format('woff2'),
    url('/../../../fonts/fs-albert/light-italic/fs-albert.woff') format('woff'),
    url('/../../../fonts/fs-albert/light-italic/fs-albert.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'fs-albert';
  src: url('/../../../fonts/fs-albert/regular/fs-albert.eot');
  src: url('/../../../fonts/fs-albert/regular/fs-albert.eot?#iefix') format('embedded-opentype'),
    url('/../../../fonts/fs-albert/regular/fs-albert.woff2') format('woff2'),
    url('/../../../fonts/fs-albert/regular/fs-albert.woff') format('woff'),
    url('/../../../fonts/fs-albert/regular/fs-albert.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'fs-albert';
  src: url('/../../../fonts/fs-albert/regular/fs-albert.eot');
  src: url('/../../../fonts/fs-albert/regular/fs-albert.eot?#iefix') format('embedded-opentype'),
    url('/../../../fonts/fs-albert/regular/fs-albert.woff2') format('woff2'),
    url('/../../../fonts/fs-albert/regular/fs-albert.woff') format('woff'),
    url('/../../../fonts/fs-albert/regular/fs-albert.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fs-albert';
  src: url('/../../../fonts/fs-albert/thin/fs-albert.eot');
  src: url('/../../../fonts/fs-albert/thin/fs-albert.eot?#iefix') format('embedded-opentype'),
    url('/../../../fonts/fs-albert/thin/fs-albert.woff2') format('woff2'),
    url('/../../../fonts/fs-albert/thin/fs-albert.woff') format('woff'),
    url('/../../../fonts/fs-albert/thin/fs-albert.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'fs-albert';
  src: url('/../../../fonts/fs-albert/thin-italic/fs-albert.eot');
  src: url('/../../../fonts/fs-albert/thin-italic/fs-albert.eot?#iefix') format('embedded-opentype'),
    url('/../../../fonts/fs-albert/thin-italic/fs-albert.woff2') format('woff2'),
    url('/../../../fonts/fs-albert/thin-italic/fs-albert.woff') format('woff'),
    url('/../../../fonts/fs-albert/thin-italic/fs-albert.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
