@import 'mixins';

.site-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.clearfix::after {
  @include clearfix;
}

.promotable-items {
  padding: 6rem 0;

  .component-content:first-child {
    @include container;
  }
}

.content-section_gray {
  background: $wild-sand;

  .component-content {
    @include container;
  }
}
