@import 'colors';
@import 'variables';
@import '~bootstrap/scss/mixins/_grid';

@mixin responsiveImage() {
  display: block;
  height: auto;
  width: 100%;
}

@mixin buttonBase() {
  border-radius: 2.3rem;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.8rem;
  font-weight: 700;
  outline: none;
  border-width: 0.2rem;
  border-style: solid;
  height: $header-btn-height;
  padding: 1.8rem 3rem;
  font-weight: 400;
  @include alignCenter;

  *:hover,
  &:hover {
    text-decoration: none;
  }

  &:after {
    @include rightChevron;
    position: relative;
    top: 0.2rem;
  }

  .btn {
    font-size: 1.8rem;
  }
}

@mixin buttonPrimary() {
  @include buttonBase;
  border-color: transparent;
  background: $genoa;
  color: $white;

  &:hover {
    background: $mountain-meadow;
    color: $white;
  }
}

@mixin buttonSecondary() {
  color: $white;
  border-color: $white;
  @include buttonBase;

  &:hover {
    background: $white;
    color: $black;
  }
}

@mixin buttonTertiary() {
  color: $genoa;
  @include buttonBase;
  border: 2px solid $genoa;

  &:hover {
    background: $white;
  }
}

@mixin buttonAlternative() {
  @include buttonBase;
  border-color: transparent;
  background: $green-haze;
  color: $white;

  &:hover {
    background: $malachite;
    color: $white;
  }
}

@mixin alignCenter() {
  align-items: center;
  justify-content: center;
}

@mixin visuallyHidden() {
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  margin: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
}

@mixin clearfix() {
  display: block;
  clear: both;
  content: '';
}

@mixin container() {
  @include make-container();
  @include make-container-max-widths();
}

@mixin rightChevron() {
  content: '\f054';
  font-family: 'FontAwesome';
  padding-left: 1rem;
}

@mixin socialButtons($size: 4.5rem) {
  width: $size;
  height: $size;
  font-size: 2.9rem;
  display: inline-flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  border-radius: 100%;

  &:before {
    font-family: 'FontAwesome';
    color: $white;
  }
}

@mixin padlockIcon() {
  content: '\f023';
  font-family: 'FontAwesome';
}

@mixin profileIcon() {
  content: '\f007';
  font-family: 'FontAwesome';
}

@mixin facebookButton() {
  background: $san-marino;

  &:before {
    content: '\f09a';
  }
}

@mixin linkedInButton() {
  background: $eastern-blue;

  &:before {
    content: '\f0e1';
  }
}

@mixin twitterButton() {
  background: $picton-blue;

  &:before {
    content: '\f099';
  }
}

@mixin youTubeButton() {
  background: $pomegranate;

  &:before {
    content: '\f167';
  }
}

@mixin emailButton() {
  background: $denim;

  &:before {
    content: '\f0e0';
  }
}

@mixin paginationItem() {
  display: inline-flex;
  width: 4rem;
  height: 4rem;
  background-color: $gallery;
  margin: 0 0.1rem 0.1rem;
  justify-content: center;
  align-items: center;
}
