@import 'colors';
@import 'variables';
@import '~bootstrap/scss/mixins/_breakpoints';

html {
  font-size: 62.5%;
  font-family: $font-family-base;
}

strong {
  font-weight: 700;
}

ol,
p,
ul {
  margin: 0 0 1rem;
}

h1,
h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
  font-size: 3rem;
  color: $bunting;
  text-align: center;

  @include media-breakpoint-up(lg) {
    font-size: 4rem;
  }
}

h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: $bunting;

  @include media-breakpoint-up(lg) {
    font-size: 3rem;
  }
}
