@import 'colors';

$fa-font-path: '~font-awesome/fonts';
$primary-color: $bunting;
$secondary-color: $fiord;
$tertiary-color: $genoa;

// bootstrap overrides
$body-color: $mine-shaft;
$font-family-base: 'fs-albert', Helvetica, Arial, sans-serif;
$font-size-base: 1.6rem;
$link-color: $cerulean;
$link-decoration: none;
$link-hover-color: $link-color;
$link-hover-decoration: underline;

$header-btn-height: 4.4rem;
$header-btn-width: $header-btn-height;
